p {
  line-height: 1.5;
  margin-bottom: 10px;
}

img {
  max-width: 100%;
}

.post {
  border: 1px solid rgba(000,000,000,0.2);
  padding: 10px;
  max-width: 650px;
}

.post > h2 {
  margin: 0;
  padding: 0;
}

/* Your Code Goes Under This Line */
.full {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: black;
}

.outline {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid black;
  text-align: center;
  line-height: 100px;
}

.post {
  border-top-right-radius:3px;
  border-bottom-right-radius:3px;
  border-bottom-left-radius:3px;
}





